

<h1> Update your profile</h1>


<form action="/users/<%=@current_user.id%>" method="POST"   class="ui form">
    <input type="hidden" name="_method" value="PUT">
<div class="field" id='signup_form' >
 <div class="six wide field">
    <input type="text" name="first_name" id="first_name" value="<%=@current_user.first_name %>"><br>
    <input type="text" name="last_name" id="last_name" value="  <%=@current_user.last_name%>">
    <input type="text" name="username" id="username" value=" <%=@current_user.username %>">
    <input type="text" name="email" id="email" value="<%=@current_user.email %>">
    <input type="text" name="birthday" id="birthday" value="<%= @current_user.birthday %>">
    <img src ='<%= @current_user.photo_url%>' width =350 height =350>
    <input type="text" name="photo_url" id="photo_url" value="<%= @current_user.photo_url%>">
    <input type="password" name="password" id="password" value="<%= @current_user.password%>">
    <input type="submit" value="Update" class="ui inverted yellow button">
     <div class="six wide field">
  </div>
</form>



<form method="POST" action="/users/<%= @current_user.id %>" >
<div class="field">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="ui inverted yellow button" value="Delete <%= @current_user.username %>">
    </div>
</form>


