
<div id ='signup-login' >
    <a href ='/users/<%= session[:user_id] %>'>
    <button class="ui inverted yellow button"><i class="user icon"></i>Profile</button>
    <a href ="/signout"><button class="ui inverted yellow button"> Sign Out </button></a>
</div>

    
    
<% @posts.each do |info| %>
<div id ='posts-container'>
    <div id ='photo_url>'>
    <img src="<%= info.photo_url%>">
    </div>

    <div id ='title'>
    <%= info.title %>
    </div>

    <div id ="created_by">
    <% @created_by = User.find(info.user_id) %>
    Created by : <%= @created_by.username %>
    </div>
   

    <div id ='post-content'>
    <%= info.post_content%>
    </div>
    <div class="ui hidden divider"></div>
    <%# <div class="ui inverted divider"></div> %>
<% end %>








