

<div id ='signup-login' >
<a href="/posts/new"><button class="ui inverted yellow button"><i class="pencil alternate icon"></i>New Post</button></a>
<a href = "/users/<%= session[:user_id]%>/edit_profile">  <button class="ui inverted yellow button"><i class="edit outline icon"></i>Edit your profile</button>
<a href ='/posts'><button class="ui inverted yellow button"><i class="newspaper icon"></i>Posts</button></a>
<a href ="/signout"><button class="ui inverted yellow button">Sign Out</button></a>
</div>
  <div class="ui hidden divider"></div>
<p id = 'logged'>Logged on as : <%= @current_user.username%></p>
  <div class="ui hidden divider"></div>


<% @posts_by_current_user.each do |info| %>
<div id ='posts-container'>
    <p id ='photo_url>'>
    <img src="<%= info.photo_url%>" width=350 height=350>
    </p>

    <p id ='title'>
    <%= info.title %>
    </p>

    <p id ='post-content'>
    <%= info.post_content%>
    </p>

    <p id = 'edit_or_delete'>
  <a href="/users/<%= info.id %>/edit_post"><button class="ui inverted yellow button"><i class="edit outline icon"></i>Edit</button></a>
    </p>
     <div class="ui hidden divider"></div>

<% end %>






</body>
</html>